//override progress-bar color


.cus{

  &-wrapper{
    width: 70%;
    margin: 0 auto;
  }

  &-progress{
    background-color: red;
    height: 50px;
  }
}

.progress{
  &-bar{
    padding:0;
  }
}

.progress {height: 50px;border-radius: 0;  position: relative;}



.progress span {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
}

.App {
  text-align: center;
}





